@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Montserrat:wght@300;400;500;700&family=Red+Hat+Display:wght@500;700;900&family=Shalimar&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 
    1.
    pp=> #2c3531 
    second / words=> #116466
    
    2.
    pp => #272727
    sec =>#14a76c
    
    original: 
    pp=> #000
    sec => #fff
    
  */
  --fs-thin: 100;
  --fs-light: 300;
  --fs-regular: 400;
  --fs-bold: 700;

  --fw-thin-100: 100;
  --fw-light-300: 300;

  --fw-reg-400: 400;
  --fw-bold-700: 700;

  --clr-primary: #000;
  --clr-secondary: #fff;
  --clr-accent: #90f252;
}

body {
  font-family: "Lato", sans-serif;
  background: var(--clr-primary);

  color: var(--clr-secondary);
  font-size: 20px;
}

img {
  width: 100%;
}
section {
  padding: 4rem 1rem;
  /* border: 2px solid black; */
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  /* border: 2px solid red; */
}

/* UTILITY CLASS */

h1,
h2,
h3 {
  line-height: 1.2;
}

.text-sm {
  font-size: 1.1rem;
}

.text-lg {
  font-size: 5rem;
}

.text-med {
  font-size: 2rem;
}

.text-md {
  font-size: 3rem;
}

.highlight-text {
  font-weight: var(--fw-bold-700);
  color: var(--clr-accent);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-secondary);
}
li:hover {
  color: var(--clr-accent);
}
li {
  list-style-type: none;
}
.heading {
  margin-bottom: 3rem;
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  gap: 0.9rem;
  font-size: 1rem;
  text-align: center;
}

.btn {
  text-decoration: none;
  border: 0;
  padding: 10px 20px;
  border-radius: 12px;
  color: #fff;
}
.btn-primary {
  color: black;
  background-color: var(--clr-accent);
}
.btn-primary:hover {
  background-color: hsl(97, 82%, 53%);
}

.btn-secondary {
  color: black;
  background-color: grey;
}

.btn-secondary:hover {
  background-color: hsl(0, 5%, 75%);
}
/* Banner  Image */

.banner-image {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)),
    url("/img/highway-large-size.jpg") no-repeat center center;
  height: 100vh;
}

/* HEADER */
.header {
  font-weight: var(--fw-reg-400);
  letter-spacing: 0.1rem;
  padding: 2rem 2rem;
  text-transform: uppercase;
}

.nav__list {
  color: #000;
  /* text-decoration: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.banner-text {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
}

.banner-text__h3,
.banner-text__info,
.banner-text__info {
  text-align: center;
}

.banner-text__h3 {
  font-weight: var(--fw-reg-400);
}

.banner-text__user-name {
  font-weight: bold;
}

.banner-text__info {
  margin-top: 1.5rem;
  font-weight: var(--fw-thin-100);
  opacity: 0.9;
  text-transform: uppercase;
}

/* ABOUT ME */
.about-me__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about-me__my_image {
  border: 2px solid white;
}

.about-me__description {
  /* width: 50%; */
  max-width: 1100px;
  margin: auto;
}

/* My Technologies */

.technology__card {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 2;
}

.card-items {
  margin: 1rem 1rem;
  padding: 1rem;
}

.card-image {
  margin-bottom: 1rem;
}

/* My Projects */

.project__card {
  line-height: 1.8;
  margin-top: 3rem;
  text-align: center;
}

.project__image {
  width: 300px;
  height: 200px;
}

.project__card-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.stack-heading {
  margin-top: 1em;
  text-align: center;
}

.project__stack-list {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

/* My Experience || Time LINE */

.timeline {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  margin-top: 6rem;
}

.timeline ul li {
  padding: 1.4rem;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-size: 2rem;
  font-weight: var(--fw-reg-400);
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: var(--fw-reg-400);
}

.timeline-content .date {
  font-size: 1rem;
  font-weight: var(--fw-reg-400);
  margin-bottom: 10px;
  letter-spacing: 0.15rem;
}

/* Contact ME */
.contact__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3em;
}
.contact__left {
  top: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.inputBox {
  width: 100%;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem 8rem;
  margin: 0.5rem 0;
  border-radius: 0.8rem;
  resize: none;
}

.contact__right {
  line-height: 1.9;
}

/* FOOOTER */

.copyright {
  padding: 5rem;
  text-align: center;
}
.heart {
  color: red;
}
.social-medias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 4rem;
}
.social-medias li i:hover {
  color: var(--clr-accent);
}

/* media query for timeline */
@media (min-width: 768px) {
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-70px);
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(25px);
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    top: 0;
  }

  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -70px;
  }

  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -23px;
  }

  .timeline ul li:hover::after {
    background-color: var(--clr-accent);
  }

  .timeline-content .date {
    position: absolute;
    top: -25px;
  }
}

/* MEDIA QUERY */

@media (max-width: 768px) {
  .header {
    display: none;
  }
  .banner-text__h3,
  .banner-text__user-name,
  .banner-text__info {
    text-align: center;
  }

  .about-me__content {
    flex-direction: column;
    text-align: center;
  }

  .technology__card {
    flex-direction: column;
  }

  .card-items {
    display: flex;
    gap: 7rem;
    justify-content: center;
    align-items: center;
  }
  .project__image {
    display: none;
  }

  .project__card-items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputBox input,
  .inputBox textarea {
    border-radius: 0;
    padding: 5px;
    font-size: 16px;
  }
}
